<div class="border border-3 rounded-3 text-center">
  <app-nav-bar />
  <h1 class="title-table title-vahicle">Tabela Veículos</h1>
  <div class="flex-row text-end p-4">
    <button class="btn-group btn-create" (click)="btnCreateVehicle()">
      Create
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Bloco</th>
        <th scope="col">Apartamento</th>
        <th scope="col">Placa</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Cor</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let apto of aptos">
        <tr *ngFor="let veiculo of apto.veiculos">
          <td>{{ veiculo.id }}</td>
          <td>{{ apto.bloco }}</td>
          <td>{{ apto.apartamento }}</td>
          <td>{{ veiculo.placa }}</td>
          <td>{{ veiculo.marca }}</td>
          <td>{{ veiculo.modelo }}</td>
          <td>{{ veiculo.cor }}</td>
          <td class="text-center">
            <button class="btn-group btn-edit">Edit</button>
            <button class="btn-group btn-del">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
