<div class="container-center">
  <h1 class="title-table">Tabela Veículos</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Bloco</th>
        <th scope="col">Apartamento</th>
        <th scope="col">Placa</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Cor</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>101</td>
        <td>AAA-1111</td>
        <td>BMW</td>
        <td>GSV-222</td>
        <td>Branco</td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>102</td>
        <td>AAA-2222</td>
        <td>NISSAN</td>
        <td>PQP-007</td>
        <td>Preto</td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>2</td>
        <td>101</td>
        <td>BBB-1111</td>
        <td>GOL</td>
        <td>GVT</td>
        <td>Branco</td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>2</td>
        <td>102</td>
        <td>BBB-2222</td>
        <td>FERRARI</td>
        <td>SPORT</td>
        <td>Vermelho</td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
