<form class="border border-3 rounded-3 p-5" action="">
  <div class="mb-3">
    <label for="input-bloco" class="form-label"
      >Bloco</label
    >
    <input
      type="number"
      class="form-control"
      id="input-bloco"
      placeholder="1"
    />
  </div>
  <div class="mb-3">
    <label for="input-apartamento" class="form-label"
      >Apartamento</label
    >
    <input
      type="number"
      class="form-control"
      id="input-apartamento"
      placeholder="200"
    />
  </div>
  <div class="mb-3">
    <label for="input-morador" class="form-label"
      >Morador</label
    >
    <input
      type="text"
      class="form-control"
      id="input-morador"
      placeholder="Fulano de Tal"
    />
  </div>
  <div class="mb-3">
    <label for="input-telefone" class="form-label"
      >Telefone</label
    >
    <input
      type="text"
      class="form-control"
      id="input-telefone"
      placeholder="(**) * ****-****"
    />
  </div>
  <div class="mb-3">
    <label for="input-email" class="form-label"
      >Email</label
    >
    <input
      type="email"
      class="form-control"
      id="input-email"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3 ">
    <button class="btn-group btn-del" (click)="btnBackApartament()">Voltar</button>
    <button class="btn-group btn-create">Salvar</button>
  </div>

</form>
