<form class="border border-3 rounded-3 p-5">
  <div class="mb-3">
    <label for="input-bloco" class="form-label"
      >Bloco</label
    >
    <input
      type="number"
      class="form-control"
      id="input-bloco"
      placeholder="1"
    />
  </div>
  <div class="mb-3">
    <label for="input-apartamento" class="form-label"
      >Apartamento</label
    >
    <input
      type="number"
      class="form-control"
      id="input-apartamento"
      placeholder="200"
    />
  </div>
  <div class="mb-3">
    <label for="input-placa" class="form-label"
      >Placa</label
    >
    <input
      type="text"
      class="form-control"
      id="input-placa"
      placeholder="XXX-0000"
    />
  </div>
  <div class="mb-3">
    <label for="input-marca" class="form-label"
      >Marca</label
    >
    <input
      type="text"
      class="form-control"
      id="input-marca"
      placeholder="Ferrari"
    />
  </div>
  <div class="mb-3">
    <label for="input-modelo" class="form-label"
      >Modelo</label
    >
    <input
      type="text"
      class="form-control"
      id="input-modelo"
      placeholder="296-GTB"
    />
  </div>
  <div class="mb-3">
    <label for="input-cor" class="form-label"
      >Cor</label
    >
    <input
      type="text"
      class="form-control"
      id="input-cor"
      placeholder="Vermelho"
    />
  </div>
  <div class="mb-3 ">
    <button class="btn-group btn-del" (click)="btnBackVehicle()">Voltar</button>
    <button class="btn-group btn-create">Salvar</button>
  </div>

</form>
