<div class="container-center">
  <h1 class="title-table">Tabela Apartamentos</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Bloco</th>
        <th scope="col">Apartamento</th>
        <th scope="col">Morador</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>101</td>
        <td>João</td>
        <td>(85) 9 8888-7777</td>
        <td>joao&#64;gmail.com</td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>1</td>
        <td>102</td>
        <td>Maria</td>
        <td>(85) 9 6666-5555</td>
        <td>maria&#64;gmail.com</td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>2</td>
        <td>101</td>
        <td>Romeu</td>
        <td>(85) 9 4444-3333</td>
        <td></td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>2</td>
        <td>102</td>
        <td>Julieta</td>
        <td>(85) 9 2222-1111</td>
        <td></td>
        <td class="text-center"><button class="bnt-edit">Edit</button></td>
        <td class="text-center"><button class="bnt-del">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<ul>
  @for (apto of aptos; track apto) {
    <li>
      {{apto.morador}}
    </li>
  }
</ul>
