@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

button {
  padding: 2px 8px;
  border-radius: 8px;
  font-size: large;
  text-align: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.title-table {
  @extend .text-center;
  padding: 10px 2px 25px 2px;

}

.btn-edit {
  background-color: lightblue;
}
.btn-edit:active{
  background-color: rgb(127, 201, 226);
}
.btn-del {
  background-color: lightcoral;
}
.btn-del:active {
  background-color: rgb(235, 96, 96);
}
.btn-create {
  background-color: lightgreen;
}
.btn-create:active {
  background-color: rgb(97, 231, 97);
}

.apartamneto-title {
 @extend .title-table;
}

.btn-table-vahicle,
.title-vahicle {
  background-color: lightpink;
}

.btn-table-apartment,
.title-apartment {
  background-color: lightsteelblue;
}
